body{
    margin: 0;
    padding: 0;
    text-align: center;
}

.lewy{
    float: left;
    background-color: aqua;
    width: 50%;
    height: 100%;
}

.prawy{
    float: left;
    background-color: rgb(0, 77, 77);
    width: 50%;
    height: 100%;
}

.stopka{
    clear: both;
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}
